<div class="create-room">
	<i class="fa fa-plus" aria-hidden="true"></i>
	<a ng-click="toggleCreateRoomModal = !toggleCreateRoomModal" ng-init="toggleCreateRoomModal = false">Create New Room</a>
	<div ng-class="toggleCreateRoomModal ? 'create-room-modal active' : 'create-room-modal' ">
		<i class="fa fa-close" ng-click="toggleCreateRoomModal = false"></i>
		<form ng-submit="$ctrl.onAdd({ room: room }); toggleCreateRoomModal = false; room = {};">
			<div class="form-group">
				<i class="fa fa-heart"></i>
				<input type="text" class="title" placeholder="Room title" required="required" ng-model="room.title" maxlength="15">
			</div>

			<div class="form-group">
				<i class="fa fa-pencil"></i>
				<input type="text" class="description" placeholder="Room description" ng-model="room.desc" maxlength="30">
			</div>

			<div class="form-group">
				<i class="fa fa-link"></i>
				<input type="url" class="logo" placeholder="Logo URL" ng-model="room.logo">
			</div>

			<button>Submit</button>
		</form>
	</div>
</div>