<div class="header clearfix">
    <div class="avatar float-left">
        <img ng-src="{{$root.user.fbid | avatar}}" ng-if="$root.user">
        <img src="https://api.adorable.io/avatars/40/anonymous" ng-if="!$root.user">
    </div>
    <div class="info float-left">
        <h1 class="nickname" ng-if="!$root.user">
            Guest
        </h1>
        <h1 contenteditable class="nickname" ng-blur="$ctrl.updateUser($event, $root.user._id)" ng-if="$root.user">
            {{$root.user.name}}
        </h1>
    </div>
    <a class="opts float-right" ng-if="!$root.user" target="_self" href="{{$root.config.api}}/auth/facebook">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
    </a>
    <a class="opts float-right" ng-if="$root.user" target="_self" href="{{$root.config.api}}/logout">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
    </a>
</div>