<div class="header clearfix">
    <div class="avatar float-left">
        <img ng-src="{{$ctrl.avatar}}">
    </div>
    <div class="info float-left">
        <h1 class="nickname">
            {{$root.user ? $root.user.name : 'Guest'}}
        </h1>
    </div>
    <a class="opts float-right" ng-if="!$root.user" href="{{$root.config.api}}/auth/facebook">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
    </a>
    <a class="opts float-right" ng-if="$root.user">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
    </a>
</div>