<div class="panel">
	<div class="upper-wrapper">
		<panel-header></panel-header>
		<panel-tab tab="$ctrl.tab" on-change="$ctrl.change(name)" highlight="$ctrl.highlight"></panel-tab>
		<create-room on-add="$ctrl.add(room)"></create-room>
	</div>
	<hr>
	<div class="list">
		<spinner ng-if="$ctrl.loading"></spinner>
		<!-- TODO: need to except the users case -->
		<panel-list-item ng-repeat="item in $ctrl.collections" item="item" tab="$ctrl.tab" on-select="$ctrl.select(roomId)"></panel-list-item>
	</div>
</div>