<div class="right-button edit-room" ng-if="$ctrl.room.owner === $root.user._id">
	<a ng-click="toggleEditRoomModal = !toggleEditRoomModal" ng-init="toggleEditRoomModal = false">Edit</a>
	<div ng-class="toggleEditRoomModal ? 'edit-room-modal active' : 'edit-room-modal' ">
		<i class="fa fa-close" ng-click="toggleEditRoomModal = false"></i>
		<form ng-submit="$ctrl.onUpdate({ room: $ctrl.roomCopy }); toggleEditRoomModal = false;">
			<div class="form-group">
				<i class="fa fa-heart"></i>
				<input type="text" placeholder="Room title" required="required" ng-model="$ctrl.roomCopy.title" maxlength="15">
			</div>

			<div class="form-group">
				<i class="fa fa-pencil"></i>
				<input type="text" placeholder="Room description" ng-model="$ctrl.roomCopy.desc" maxlength="30">
			</div>

			<div class="form-group">
				<i class="fa fa-link"></i>
				<input type="url" placeholder="Logo URL" ng-model="$ctrl.roomCopy.logo" ng-model="room.logo">
			</div>

			<button>Submit</button>
		</form>
	</div>
</div>
<div class="right-button join-room" ng-if="!$ctrl.isMember($root.user._id)" ng-click="$ctrl.join($root.user._id)">
	Join
</div>