<div class="footer">
	<div ng-if="$root.user && $ctrl.room._id">
		<textarea class="editarea" rows="5" enter-submit="submit()" ng-model="$ctrl.content" placeholder="`Shift + Enter` for linebreak, `Enter` to submit and support markdown!"></textarea>
	</div>
	<div class="welcome-room" ng-if="$root.user && !$ctrl.room._id">
		This is the welcome room, please choose a chat room from left panel and start chatting!
	</div>
	<div class="facebook-login" ng-if="!$root.user">
		<i class="fa fa-facebook" aria-hidden="true"></i>
		<span>Login with Facebook</span>
	</div>
</div>