<div class="footer">
	<div ng-if="$root.user">
		<div class="toolbar">
			<a href="">
				<i class="fa fa-2x fa-smile-o" aria-hidden="true"></i>
			</a>
		</div>
		<div class="editor-wrapper">
			<div class="editarea" contenteditable="true" class="input-area" placeholder="Press Shift+Enter to start a new line, markdown support."></div>
		</div>
	</div>
	<div class="facebook-login" ng-if="!$root.user">
		<i class="fa fa-facebook" aria-hidden="true"></i>
		<span>Login with Facebook</span>
	</div>
</div>