<div class="chat">
	<div class="header">
		<div class="logo" ng-if="$ctrl.room.logo">
			<img ng-src="{{$ctrl.room.logo}}" alt="{{$ctrl.room.title}}">
		</div>
		<h1 ng-if="!$ctrl.room.private">{{$ctrl.room.title}}</h1>
		<h1 ng-if="$ctrl.room.private">{{$ctrl.room.desc}}</h1>
		<span class="desc" ng-if="!$ctrl.room.private">{{$ctrl.room.desc}}</span>
		<span class="desc" ng-if="$ctrl.room.private">private</span>
		<control room="$ctrl.room" on-update="$ctrl.updateRoom(room)" on-join="$ctrl.join(uid)" ng-if="$ctrl.room.title !== 'Welcome'"></control>
	</div>
	<div class="content" id="chatWindow">
		<spinner color="black" ng-if="$ctrl.loading"></spinner>
		<message ng-repeat="message in $ctrl.messages" message="message" pre="$ctrl.messages[$index - 1]"></message>
	</div>
	<footer add-message="$ctrl.addMessage(message)" room="$ctrl.room"></footer>
</div>