<div class="message" ng-if="$ctrl.message.from._id !== $root.user._id">
	<div class="time" ng-if="$ctrl.pre.from._id !== $ctrl.message.from._id">
		<span am-time-ago="$ctrl.message.created"></span>
	</div>
	<img class="avatar" ng-if="!$ctrl.message.from.avatar" ng-src="{{$ctrl.message.from.fbid | avatar}}" alt="">
	<img class="avatar" ng-if="$ctrl.message.from.avatar" ng-src="{{$ctrl.message.from.avatar}}" alt="">
	<div class="text">
		<p class="nickname" ng-if="$ctrl.pre.from._id !== $ctrl.message.from._id">{{$ctrl.message.from.name}}</p>
		<div class="bubble default">
			<div class="plain">
				{{$ctrl.message.content}}
			</div>
		</div>
	</div>
</div>

<div class="message clearfix me" ng-if="$ctrl.message.from._id === $root.user._id">
	<div class="time" ng-if="$ctrl.pre.from._id !== $ctrl.message.from._id">
		<span am-time-ago="$ctrl.message.created"></span>
	</div>
	<img class="avatar" ng-src="{{$ctrl.message.from.fbid | avatar}}" alt="">
	<div class="text">
		<div class="bubble">
			<div class="plain">
				{{$ctrl.message.content}}
			</div>
		</div>
	</div>
</div>