@mixin header() {
	padding: $gap;
	.avatar {
		display: table-cell;
		vertical-align: middle;
		word-wrap: break-word;
		word-break: break-all;
		white-space: nowrap;
		padding-right: $gap - 10;
		img {
			width: $avatar-size;
			height: $avatar-size;
			cursor: pointer;
		}
	}
	.info {
		display: table-cell;
		vertical-align: middle;
		word-wrap: break-word;
		word-break: break-all;
		.nickname {
			display: inline-block;
			color: $white;
			overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;
		    word-wrap: normal;
		    width: $info-width;
		    line-height: $avatar-size;
		}
		h1[contenteditable] {
			border-bottom: 1px dotted $white-half;
		}
	}
	.opts {
		display: table-cell;
		vertical-align: middle;
		color: $white-half;
		i {
			line-height: $avatar-size;
			font-size: $icon-custom-size;
		}
	}
}