@mixin footer() {
	position: absolute;
	width: 100%;
	height: $chat-bottom-height;
	bottom: 0;
	right: 0;
	border-top: 1px solid $border-color-light;
	.welcome-room {
		padding: $gap;
		color: gray;
	}
	.toolbar {
		height: 30px;
		padding: $gap - 15 $gap;
		a {
			display: inline-block;
			width: 30px;
			height: 30px;
			color: grey;
			font-weight: 100;
		}
	}
	.editor-wrapper {
		padding: $gap - 15 $gap;
		.editarea {
			height: 5em;
			overflow-y: scroll;
			&:focus {
				outline: none;
			}
		}
		.editor-submit {
			width: 100%;
			text-align: right;
		}
	}
	[contenteditable]:empty:not(:focus):before{
		color: gray;
        content:attr(placeholder);
    }
    .facebook-login {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: $gap - 10;
		background: #3b5998;
		color: white;
		cursor: pointer;
		span {
			margin-left: $gap - 10;
		}
    }
}