@mixin footer() {
	position: absolute;
	width: 100%;
	height: $chat-bottom-height;
	bottom: 0;
	right: 0;
	border-top: 1px solid $border-color-light;
	.welcome-room {
		padding: $gap;
		color: gray;
	}
	textarea {
		background: $chat-bg;
		margin: $gap;
		width: 90%;
		resize: none;
		border: 0;
		height: 4em;
		font-size: 14px;
		&:focus {
			outline: none;
		}
	}
    .facebook-login {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: $gap - 10;
		background: #3b5998;
		color: white;
		cursor: pointer;
		span {
			margin-left: $gap - 10;
		}
    }
}